/*color scheme
https://designschool.canva.com/blog/website-color-schemes/
07. Warm and Bold
LUSH DIGITAL
BLACK  - #000000 - rgba(0, 0, 0, 1)
INK    - #062F4F - rgba(6, 47, 79, 1)
POSY   - #813772 - rgba(129, 55, 114, 1)
EMBERS - #B82601 - rgba(184, 38, 1, 1)
*/


header{
  background-color: rgba(0, 0, 0, .6);

}
.main{
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: rgba(129, 255, 114, 1);
  background-color: rgba(184, 38, 1, 1);
}

a, a:link, a:active {
  text-decoration: none;
  color: rgba(76, 127, 229, 1);
}

a:hover, a:focus {
  color: white;
}
